body {
  margin:40px auto;
  line-height:1.6;
  font-size:18px;
  color:#444;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
main {
  max-width:650px;
  margin: auto;
}
h1,h2,h3,h4 {
  line-height: 1.2;
  font-weight: 100;
}
h1 {
  padding: 220px 0px 0px 0px;
  margin-top: -150px;
}
h2 {
  padding-top: 120px;
  margin-top: -100px;
}
.scrolled {
  padding-top: 70px;
  margin-top: -50px;
}
a {
  color: #00CA9E;
  text-decoration: none;
}
a:hover {
  color: #008467;
}
ul {
  list-style-type: square;
}
hr {
  margin: 50px 0px;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
header {
  height: 100px;
  width: 100%;
  left: 0;
  top: 0;
  background: url("london-skyline.png") #fff;
}
nav {
  background-color: #00CA9E;
  overflow: hidden;
  position: absolute
  top:98px;
  left: 0;
  width: 100%;
  z-index: 150;
}
.fixie {
  position: fixed;
  top: 0;
}
nav ul {
  padding: 0;
  margin: 0px auto;
}
nav li {
  list-style: none;
}
nav .icon {
  display: none;
}
nav .home {
  font-weight: 400;
}
nav li a {
  float: left;
  display: block;
  background-color: #00CA9E;
  color: #fff;
  padding: 10px;
  margin: 0;
}
nav li a:hover {
  color: #008467;
}

@media screen and (max-width:820px) {
  ul.topnav li:not(:first-child) {
    display: none;
  }
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
  ul.topnav.responsive {
    position: relative;
  }
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
    width: 100%;
  }
}
